.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*min-width: 20%;*/
    /*max-width: 20%;*/
}

.App_custome {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 65%;
    max-width: 65%;
}

.App-box {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.todolist-box {
    /*background-color: #c79a63;*/
    padding: 5px;
    margin: 3px;
    border: 1px solid grey;
    border-radius: 5px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error {
    border: 1px solid red;

}

.error-message {
    color: red;
}

.error-custome {
    /*border: 2px solid red;*/
    background-color: yellow;
    border-radius: 5px;
    height: 80%;
}

.error-message-custome {
    color: red;
    font-size: 25px;
}

.active-filter {
    background-color: mediumseagreen;
    color: white;
    /*transform: scale(1.2);*/
    border: none;
}

.is-done {
    opacity: 0.5;
}

.app-header {
    /*background-color: #c79a63;*/
    height: 25px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    justify-content: center;
}

.input-add-tasks {
    width: 80%;
    height: 90%;
    /*min-height: 100%;*/
    /*max-height: 160%;*/
    border-radius: 5px;
}

.input-add-tasks-custome {
    width: 94%;
    height: 90%;
    /*min-height: 100%;*/
    /*max-height: 160%;*/
    padding-left: 5px;
    border-radius: 5px;
}
